<h1 class="text-center mt-4 fw-bold">Llista de Pokémon</h1>


<div>
  <div class=" d-flex flex-wrap justify-content-center actions">
    <button mat-fab matTooltip="Vista graella" class="me-2 mb-2" (click)="listView = false"><mat-icon aria-hidden="true"
        fontIcon="grid_view"></mat-icon>
    </button>
    <button mat-fab matTooltip="Vista taula" (click)="listView = true"><mat-icon aria-hidden="true"
        fontIcon="list"></mat-icon> </button>
  </div>

  <div class=" d-flex justify-content-center" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!listView && pokemonList.length > 0">
    <div class="d-flex flex-wrap justify-content-center poke">
      <button *ngIf="offset > 0" (click)="refresh(offset-25)">
        «
      </button>

      <div *ngFor="let poke of pokemonList" class="p-2">
        <app-card [id]="poke.id" [name]="poke.name" [imageUrl]="poke.imageUrl" [spriteUrl]="poke.spriteUrl"></app-card>
      </div>

      <button *ngIf="pokemonList.length > 0" (click)="refresh(offset+25)">
        »
      </button>
    </div>
  </div>

  <div *ngIf="listView && pokemonList.length > 0" class="container">
    <div class="botons d-flex p-2 justify-content-between sticky-top">
      <button mat-fab matTooltip="Anteriors 25 Pokémon" [class.nodisplay]="offset <= 0" (click)="refresh(offset-25)"
        class="me-2"><mat-icon aria-hidden="true" fontIcon="arrow_back_ios_new"></mat-icon>
      </button>
      <button mat-fab matTooltip="Següents 25 Pokémon" [class.nodisplay]="pokemonList.length <= 0"
        (click)="refresh(offset+25)"><mat-icon aria-hidden="true" fontIcon="arrow_forward_ios"></mat-icon>
      </button>
    </div>

    <div *ngFor="let poke of pokemonList" class="pb-1">
      <app-grid [id]="poke.id" [name]="poke.name" [imageUrl]="poke.imageUrl" [spriteUrl]="poke.spriteUrl"></app-grid>
    </div>
  </div>
</div>